---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/global.css';
import Header from "../components/Header.astro";
import Slate from "../components/Slate.astro";
---

<BaseLayout title="FlowState Math Tutoring - Home" >
        <Header pageHeader="Welcome!">
            <Slate>
                <h3>In a nutshell, we offer:</h3>
                <Slate>
                    <h2>Highly Articulate Math Tutoring Delivered with Patience and Compassion</h2>
                </Slate>
                <h6>(Read some reviews below or navigate to different sections of the website to learn more about who we are and what we do)</h6>
            </Slate>
        </Header> 
</BaseLayout>