---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/global.css';
import Header from "../components/Header.astro";
import Grid from "../components/Grid.jsx";
import Slate from "../components/Slate.astro";

const mathSubjects = [
    "K-5 Math",
    "6-7 Math",
    "Pre-Algebra",
    "Algebra 1",
    "Geometry",
    "Algebra 2",
    "Trigonometry",
    "Precalculus",
    "Calculus",
    "AB/BC Calc",
    "AP/IB Calc",
    "Statistics"
];

const scienceSubjects = [
    "K-5 Science",
    "6-8 Science",
    "Biology",
    "Chemistry",
    "AP/IB Biology",
    "AP/IB Chemistry"
]

const mentorship = [
    "Calendar/Planner Use",
    "Effective Goal Setting",
    "Positive Habit Formation",
    "Test Taking Strategies",
    "Overcoming Test Anxiety",
    "Mindfulness Techniques"
]

---

<BaseLayout title="FlowState Math Tutoring - Meet Tony">
    <Header pageHeader="Services">
        <Slate>
            <div class="yellow-header">
                <h2>Math Subject Tutoring</h2>
            </div>
            <br/>
            <h6>All K-12 Math Including (but not limited to)</h6>
            <Grid dataSet={mathSubjects} gridId="math-subjects" />
            <h6>(College level math available on request)</h6>
        </Slate>
        <Slate>
            <h2>Science Subject Tutoring</h2>
            <br/>
            <Grid dataSet={scienceSubjects} gridId="science-subjects" />
            <h6>(physics and college level biology and chemistry available on request)</h6>
        </Slate>
        <Slate>
            <h2>Mentorship</h2>
            <br/>
            <h6>Formal mentorship programs are not currently offered.
                However, natural mentorship is woven in the fabric of every session in the form of executive functions practices such as:</h6>
            <Grid dataSet={mentorship} gridId="mentorship" />
            <h6>(Sessions focusing on executive functioning available on request)</h6>
        </Slate>
    </Header>
</BaseLayout>