---
const { pageHeader } = Astro.props;
---
<div class="bkg-rec">
    <div class="slate header ani-left">
        <div class="inner-yellow-header">
            <h1 class="header-title box-shadow">{ pageHeader }</h1>
        </div>
    </div>
    <slot />
</div>

